<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页 | 超酷清单</title>
  <!-- import purecss -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure.css" integrity="sha384-" crossorigin="anonymous">
  <!-- import pure grids responsive code -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive.css">
  <!-- import font-aswsome.css -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>
  <div id="app"></div>
  <!-- HtmlWebpackPlugin 自动注入 -->
</body>
</html>
